jax==0.4.30
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mle-logging==0.0.5
mle-monitor==0.0.2
mle-scheduler==0.0.6
numpy==1.26.4
ollama==0.2.1
pip==24.1.2
pip-tools==7.4.1
PyYAML==6.0.1
scikit-learn==1.5.0
scipy==1.13.0
tabulate==0.9.0
wandb==0.17.0
evosax
dotmap