# ignore ALL .log files
*.log

# ignore all wandb files
*wandb*

# ignore __pycache__
*__pycache__*

# ignore all /output/ 
*/output/
output/

# ignore .pkl files
*.pkl

# ignore .DS_Store
*.DS_Store


# ignore the generated reward functions
*/reward.py

experiments/

evaluate/frames/

CLIP_tests/